html, body, div.app {
    height:100%;
    width:100%;
    margin:0;
}

body {
    background-image: url("images/gifblur.gif");
    background-repeat: no-repeat;
    background-size:100% 100%;
}

div.content {
    height:75%;
}

.owl-carousel div {
    color:#ffffff;
    height:25%;
    width:100%;
}

.app {
    background-image: url("images/gradientbg.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}